KEY=DVxKR19dWQgCA1FXSVkKFA4XAxcSBEtFEEIXAFkBHRtZTFldXFBeXlZTEVZKXUZAV0UJE04UHx1CHgEZFxQXEhgZOgRICwoMAEJQBkJZUQlFXFwOEhgDSVFGUwgFAgEdUF5YGF5WWwBEQVpQFhAcThEHDBwKSjJMVlFhU1tYUlwUAVwDFFVdU1cJSFBeDU9BAV1OEUZXEhYEShUHWFBBTEcWGgYFB1BcBFE=
CFG_ENABLE_DEBUG=1
CFG_ENABLE_PRINTF=1
CLOUD_IP=101.132.89.177
CLOUD_PORT=15004
CLOUD_USERNAME=user_register
CLOUD_USERPSW=666666